<ng-template #modalTemplate>
	<h2>The Template Modal Works...</h2>
	<div class="button-wrapper">
		<button
      apk-advanced-button
      color="secondary" (click)="click()">
      But this button styling doesn't
    </button>
	</div>
</ng-template>

<div class="content">
	<button apk-advanced-button color="tertiary" (click)="openTemplateModal()">
          Show the template modal
        </button>
	<button apk-advanced-button color="primary" (click)="openComponentModal()">
          Show the component modal
        </button>
	<button apk-advanced-button color="secondary" (click)="openTextModal()">
          Show the text modal
        </button>
</div>