<button
  apk-advanced-button
  shape="rectangle"
  cornerRadius="extra-small"
  color="transparent-primary">
  Button!
</button>
<button
  apk-advanced-button
  shape="rectangle"
  cornerRadius="extra-small"
  color="transparent-secondary">
  Button!
</button>
<button
  apk-advanced-button
  shape="rectangle"
  cornerRadius="extra-small"
  color="primary">
  Button!
</button>
<button
  apk-advanced-button
  shape="rectangle"
  cornerRadius="extra-small"
  color="secondary">
  Button!
</button>
<button
  apk-advanced-button
  shape="rectangle"
  cornerRadius="extra-small"
  color="success">
  Button!
</button>
<button
  apk-advanced-button
  shape="rectangle"
  cornerRadius="extra-small"
  color="warning">
  Button!
</button>
<button
  apk-advanced-button
  shape="rectangle"
  cornerRadius="extra-small"
  color="danger">
  Button!
</button>